* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:black;
}

section{
    text-align: center;
    color: yellow;
}

a {
    text-decoration: none;
}

.neon{
    background-color: black;
    padding: 0 22px;
    border: 2px solid aqua;
    color: aqua;
}

.neon:hover{
    background-color: rgb(54, 54, 54);
}

table, th, td {
    border: 1px solid yellow;
    border-collapse: collapse;
    margin: 0 auto;
    width: 40%;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    font-size: 35px;
    background-color: rgb(173, 120, 59);
}

.nav li {
    list-style: none;
}

.nav a {
    color: black;
    display: inline-block;
    padding: 10px 20px;
}

.nav a:hover {
    background-color: rgb(88, 33, 25);
    border: 2px solid black;
    padding: 8px 18px;
    color: rgb(254 241 215);
}

.conteiner {
    display:flex;
}
.main {
    flex: 7;
    background-image:url("../../imagenes/mewgenics\ fondo.jpg");
    min-height: 100vh;
    text-align: center;
    padding: 50px;
}

.main h1{
    max-width: 80%;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.main iframe{
    display: block;
    margin: 0 auto 20px auto;
}

.main p{
    color: white;
    text-shadow: 1px 1px 2px black;
}

.aside {
    flex: 3;
    background-image:url("../../imagenes/mewgenics\ aside.jpg");
    min-height: 100vh;
}

.aside ul{
    display: flex;
    flex-direction: column;
}
.aside li {
    list-style-type: none;
}

.aside a {
    color:white;
    background-color: rgb(150, 150, 150, 0.6);
    font-size: 25px;
    padding: 13px 24px;
    display: inline-block;
}

.aside a:hover {
    background-color: rgb(88, 33, 25,0.6);
    padding: 10px 24px;
    border: 3px solid black;
    color: rgb(254 241 215);
}