<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <script>
        
// Tipos de Variables en JavaScript
        
        // var (obsoleto)
        var nombre = "valor";

        // let (reasignable)
        let nombreVariable = 10;

        // const (no reasignable)
        const nombreConstante = "pi";

        // Mostrar variable en consola
        console.log(nombreVariable);

    </script>
</body>

</html>