<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <script>

// Relaciones entre Nodos

        // Padres
        elemento.parentNode; // Nodo padre directo
        elemento.parentElement; // Elemento padre directo


        // Hijos
        elemento.childNodes; // Todos los nodos hijos (incluyendo nodos de texto)
        elemento.children; // Solo elementos hijos
        elemento.firstChild; // Primer nodo hijo
        elemento.firstElementChild; // Primer elemento hijo
        elemento.lastChild; // Último nodo hijo
        elemento.lastElementChild; // Último elemento hijo


        // Hermanos
        elemento.previousSibling; // Nodo hermano anterior
        elemento.previousElementSibling; // Elemento hermano anterior
        elemento.nextSibling; // Nodo hermano siguiente
        elemento.nextElementSibling; // Elemento hermano siguiente


    </script>
</body>

</html>