<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <script>

// Estructuras de control en JavaScript

        // Condicionales:

        let numero = prompt("Ingresa tu edad:");

        if (numero > 17) {
            alert("Eres mayor, puedes continuar.");
        } else {
            alert("Eres menor, saliendo de la página.");
            window.location.href = "https://www.google.com";
        }


// Operadores lógicos:

        // AND (&&): Verifica si ambas condiciones son verdaderas.
        if (condicion1 && condicion2) {
            // Código a ejecutar si ambas condiciones son verdaderas
        }

        // OR (||): Verifica si al menos una de las condiciones es verdadera.
        if (condicion1 || condicion2) {
            // Código a ejecutar si al menos una condición es verdadera
        }

        // NOT (!): Invierte el valor de una condición.
        if (!condicion) {
            // Código a ejecutar si la condición es falsa
        }


// Operadores de comparación:

        // Igualdad (==): Compara dos valores para ver si son iguales, sin considerar el tipo.
        if (valor1 == valor2) {
            // Código a ejecutar si los valores son iguales
        }

        // Desigualdad (!=): Compara dos valores para ver si son diferentes, sin considerar el tipo.
        if (valor1 != valor2) {
            // Código a ejecutar si los valores son diferentes
        }

        // Igualdad estricta (===): Compara dos valores para ver si son iguales y del mismo tipo.
        if (valor1 === valor2) {
            // Código a ejecutar si los valores son iguales y del mismo tipo
        }

        // Desigualdad estricta (!==): Compara dos valores para ver si son diferentes o de tipos diferentes.
        if (valor1 !== valor2) {
            // Código a ejecutar si los valores son diferentes o de tipos diferentes
        }

        // Mayor que (>): Compara si un valor es mayor que otro.
        if (valor1 > valor2) {
            // Código a ejecutar si valor1 es mayor que valor2
        }

        // Menor que (<): Compara si un valor es menor que otro.
        if (valor1 < valor2) {
            // Código a ejecutar si valor1 es menor que valor2
        }

        // Mayor o igual que (>=): Compara si un valor es mayor o igual que otro.
        if (valor1 >= valor2) {
            // Código a ejecutar si valor1 es mayor o igual que valor2
        }

        // Menor o igual que (<=): Compara si un valor es menor o igual que otro.
        if (valor1 <= valor2) {
            // Código a ejecutar si valor1 es menor o igual que valor2
        }

    </script>
</body>

</html>