<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: content-box;
        }
    </style>
</head>

<body>
    <script>

        // Primero: Crear el elemento en memoria
        const nuevoDiv = document.createElement('div')
        // console.log(typeof nuevoDiv)
        nuevoDiv.style.backgroundColor = "red"
        nuevoDiv.style.color = "red"
        console.dir(nuevoDiv)
        let nulo = null
        console.log(typeof nulo)

    </script>
</body>

</html>