* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    height: 50px;
    background-color: chartreuse;
    justify-content: end;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

li {
    list-style: none;
    margin-left: 12px;
    background-color: blue;
    padding: 6px 24px;
    height: 36px;
}

a {
    text-decoration: none;
}

li:nth-child(1) {
    position: absolute;
    left: 12px;
    margin-left: 0;
    padding: 0;
}

main {
    display: flex;
}

.uno {
    height: 300px;
    width: 50%;
    background-color: yellow;
}


.dos {
    height: 300px;
    width: 50%;
    background-color: rgb(255, 0, 179);
}

@media (max-width: 767px) {

    ul {
        background-color: red;
        flex-direction: column;
        height: 200px;
    }

    img {
        display: none;
    }

    main {
        flex-direction: column;
    }

    .uno, .dos {
        width: 100vw;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: lightgreen;
  }
}
