* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:black;
}

section{
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: yellow;
}


.link{
    color: aqua;
}
.link:hover{
    background-color: rgb(244, 0, 161);
}

table, th, td {
    border: 1px solid yellow;
    border-collapse: collapse;
    margin: 0 auto;
    width: 40%;
}

.nav {
    color: black;
    text-align: center;
    font-size: 24px;
    background-color: rgb(173, 120, 59);
}

.nav li {
    color: black;
    display: inline;
    margin-right: 18px;
}

nav a {
    color:black;
    background-color: black;
    padding: 12px 24px;
    display: inline-block;
    text-decoration: none;
}
.nav a:hover {
    background-color: rgb(88, 33, 25);
    padding: -2px 22px;
    border: 2px solid black;
    color: rgb(254 241 215);
}

.main {
    background-image:url("../imagenes/mewgenics\ fondo.jpg");
    background-size: cover; 
    background-position: center; 
    display: inline-block;
    width: 70%;
    vertical-align: center;
    height: 100vh;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
}

.main h1{
    display: inline-block;
    max-width: 80%;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.main iframe{
    display: block;
    margin: 0 auto 20px auto;
}

.main p{
    color: white;
    text-shadow: 1px 1px 2px black;
}

.aside {
    background-image:url("../imagenes/mewgenics\ aside.jpg");
    background-size: cover; 
    background-position: center;
    display: inline-block;
    vertical-align: top;
    width: 29%;
    height: 100vh;
}

.aside p {
    font-size: 40px;
}
.aside ul {
            text-align: left;
        }
        .aside li {
            font-size: 25px;
            list-style-type: none;
        }

.aside a {
    color:white;
    background-color: rgb(150, 150, 150, 0.6);
    font-size: 25px;
    padding: 12px 24px;
    display: inline-block;
    text-decoration: none;
}

.aside a:hover {
    background-color: rgb(88, 33, 25,0.6);
    padding: -3px 33px;
    border: 3px solid black;
    color: rgb(254 241 215);
}